body{
    display: flex;
    justify-content: flex-start;
}

#sidebar{
    width: 300px;
    height: 100vh;
    background: gold;
    position: relative;
}

#resizer{
    width: 3px;
    height: 100%;
    background: green;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
}